/* src/App.css */
* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}

p {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    padding: 10px;
}

.tag {
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.array {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 10px 50px 10px;
}

.array-bar {
    width: 20px;
    margin: 0 2px;
    background-image: linear-gradient(rgb(183, 179, 255), rgb(35, 211, 255));
    border-radius: 7px;
}

.green {
    background-image: linear-gradient(rgb(157, 255, 0), rgb(3, 200, 26));

}