/* src/App.css */
* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

h1 {
    margin-top: 20px;
}

.array {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 10px 50px 10px;
}

.array-bar {
    width: 20px;
    margin: 0 2px;
    background-color: #62b3ff;
    border-radius: 7px;
}

.green {
    background-color: rgb(72, 255, 72);
}